.nav {
  border-radius: 100px;
  padding: 8px;
  display: flex;
  gap: 46px;
}

.navItem {
  position: relative;
  font-size: 32px;
  font-weight: 600;
  width: 140px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: var(--t2);
  transition: all 0.2s ease;
}

.navItem::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: -8px;
  margin: 0 auto;
  width: 80px;
  height: 4px;
  border-radius: 32px;
  background-color: transparent;
}

.selectedNav {
  color: var(--t1);
}

.selectedNav::after {
  background-color: var(--t1);
}

.datas {
  margin-top: 35px;
  display: flex;
  justify-content: space-between;
}

.data {
  width: calc(25% - 12px);
  padding: 29px 16px 26px;
  text-align: center;
}

.lable {
  margin-top: 2px;
  font-size: 20px;
  color: var(--t2);
  font-weight: 500;
  font-size: 14px;
}

.value {
  color: var(--t1);
  font-size: 36px;
  font-weight: bold;
}

.links {
  display: flex;
  justify-content: space-between;
}

.link {
  display: flex;
  font-size: 20px;
  justify-content: space-between;
  align-items: center;
  background-color: var(--b2);
  padding: 32px 24px;
  width: calc(33.33% - 18px);
  border-radius: 16px;
  border: 1px solid transparent;
}

.link:hover {
  border: 1px solid var(--t1);
}

.linkLeft {
  display: flex;
  align-items: center;
}

.linkIcon {
  margin-right: 13px;
  width: 24px;
  height: 24px;
}

.linkTitle {
  color: var(--t1);
  font-weight: 400;
  font-size: 20px;
}

.arrowIcon {
  width: 16px;
  height: 16px;
}

@media (max-width: 900px) {
  .navItem {
    font-size: 28px;
  }

  .value {
    font-size: 28px;
  }

  .datas {
    margin-top: 20px;
  }

  .links {
    flex-direction: column;
    gap: 14px;
  }

  .link {
    width: 100%;
    font-size: 14px;
  }

}

@media (max-width: 768px) {
  .navItem {
    font-size: 24px;
  }

  .datas {
    flex-wrap: wrap;
    margin-top: 35px;
  }

  .data {
    width: 50%;
    padding: 0;
    margin-bottom: 13px;
  }

  .value {
    font-size: 24px;
  }

  .lable {
    font-size: 14px;
  }

  .links {
    gap: 16px;
    margin-top: 30px;
  }

  .link {
    padding: 12px 24px;
    border-radius: 16px;
  }

  .linkTitle {
    font-weight: 300;
  }

  .arrowIcon {
    width: 15px;
    height: 15px;
  }
}