@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Figtree;
  src: url("../fonts/Figtree-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: Figtree;
  src: url("../fonts/Figtree-Medium.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Figtree;
  src: url("../fonts/Figtree-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Figtree;
  src: url("../fonts/Figtree-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: Figtree;
  src: url("../fonts/Figtree-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Figtree;
  src: url("../fonts/Figtree-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

html,
body {
  height: 100%;
  margin: 0;
  font-size: 16px;
  font-weight: 500;
  font-family: Figtree;
  color: var(--t1);
}

a {
  cursor: pointer;
  &:disabled {
    cursor: not-allowed;
  }
}

#root {
  * {
    box-sizing: border-box;
    font-family: Figtree;
    line-height: 125%;
  }

  .__lineHeight150 {
    line-height: 175%;
  }
  .__lineHeight115 {
    line-height: 130%;
  }
}
#root:lang(en),
#root:lang(ms),
#root:lang(vi),
#root:lang(th) {
  * {
    line-height: 100%;
  }
  .__lineHeight115 {
    line-height: 115%;
  }
  .__lineHeight150 {
    line-height: 150%;
  }

  .MuiAlert-message {
    line-height: 150%;
  }
}

h1,
h2,
h3 {
  color: var(--t1);
}

h1 {
  font-weight: 800;
}
h2 {
  font-weight: 700;
}
h3 {
  font-weight: 600;
}
p {
  text-indent: 0;
}

button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  color: inherit;
  font: inherit;
  text-align: inherit;
  cursor: pointer;
}

.seamlesswrap.swiper > .swiper-wrapper {
  transition-timing-function: linear !important;
}

.__hiddenScroll {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

:root {
  --app-header-height: 64px;
  --app-header-alert-height: 0px;

  --primary: #ff0420;
  --primary-dark: #d9031b;

  --ghost: rgba(0, 0, 0, 0.2);
  --ghost-hover: rgba(0, 0, 0, 0.4);

  --white-ghost: rgba(255, 255, 255, 0.2);
  --white-ghost-hover: rgba(255, 255, 255, 0.4);

  --shadow1: 0 0 4px #dfdfdf;

  --t1: #000000;
  --t2: #666666;
  --t3: #ffffff;
  --t4: #ff0420;

  --b1: #ffffff;
  --b2: #faf9f9;
  --b3: #f0efef;
  --b4: #000000;
  --b5: #f2f2f2;
  --border1: #ebebeb;

  --btn-black-bg: #000000;
  --btn-black-bg-hover: #cc031a;
}
