@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Switzer;
  src: url("../fonts/Switzer-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: Switzer;
  src: url('../fonts/Switzer-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: Switzer;
  src: url("../fonts/Switzer-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Switzer;
  src: url("../fonts/Switzer-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Switzer;
  src: url("../fonts/Switzer-Semibold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: Switzer;
  src: url("../fonts/Switzer-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}


@font-face {
  font-family: NotoSans;
  src: url("../fonts/NotoSans-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: NotoSans;
  src: url("../fonts/NotoSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: NotoSans;
  src: url("../fonts/NotoSans-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: NotoSans;
  src: url("../fonts/NotoSans-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: NotoSans;
  src: url("../fonts/NotoSans-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: NotoSans;
  src: url("../fonts/NotoSans-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

html,
body {
  height: 100%;
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  font-family: Switzer NotoSans;
  color: var(--t1);
  background: fixed var(--b1);
}

// 自定义滚动条样式
.custom-select-scrollbar {

  // Webkit 浏览器滚动条样式
  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 4px;
  }

  &::-webkit-scrollbar-thumb {
    background: var(--b4);
    border-radius: 4px;
    transition: background-color 0.2s ease;
  }

  // Firefox 滚动条样式
  scrollbar-width: thin;
  scrollbar-color: var(--b4) transparent;
}

a {
  cursor: pointer;

  &:disabled {
    cursor: not-allowed;
  }
}

#root {
  * {
    box-sizing: border-box;
    font-family: Switzer NotoSans;
  }
}

#root:lang(zh-CN) {
  * {
    font-family: NotoSans;
  }
}

h1,
h2,
h3 {
  color: var(--t1);
}

h1 {
  font-weight: 800;
}

h2 {
  font-weight: 700;
}

h3 {
  font-weight: 600;
}

p {
  text-indent: 0;
}

button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  color: inherit;
  font: inherit;
  text-align: inherit;
  cursor: pointer;
}

.seamlesswrap.swiper>.swiper-wrapper {
  transition-timing-function: linear !important;
}

.__hiddenScroll {
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none;
  }
}



@layer base {
  :root {
    --app-header-height: 64px;
    --app-header-alert-height: 0px;

    --primary: #ff0420;
    --primary-dark: #d9031b;

    --ghost: rgba(0, 0, 0, 0.2);
    --ghost-hover: rgba(0, 0, 0, 0.4);

    --white-ghost: rgba(255, 255, 255, 0.2);
    --white-ghost-hover: rgba(255, 255, 255, 0.4);

    --shadow1: 0 0 4px #dfdfdf;

    --t1: #070808;
    --t2: #74777B;
    --t3: #A0A3A7;
    --t4: #C4C7CA;
    --t5: #FFFFFF;
    --t6: #A0A3A7;
    --t7: #74777B;
    --t8: #FC495C;
    --t9: #F9A526;
    --t10: #05C28C;

    --b1: #ffffff;
    --b2: #fafafa;
    --b3: #f2f3f4;
    --b4: #dfe0e2;
    --b5: #070808;
    --b6: #18191B;
    --b7: #18191B;
    --b8: #F2F3F4;
    --b9: #ffffff;

    --button-bg: #FF0420;
    --button-text: #FFFFFF;

    --border1: rgba(223, 224, 226, 0.65);
    --border2: #F2F3F4;
    --border3: #E9E9EB;
    --border4: #070808;

    --link1: #FF0420;
    --link2: #D90021;
    --link3: #FF8082;

    --layer1: #FFFFFF;
    --layer2: #F9F9FA;
    --layer3: #F2F3F4;
    --layer4: #DFE0E2;
    --layer5: #FFFFFF;
    --layer6: #FFFFFF;
  }

  [data-theme='dark'] {
    --t1: #FFFFFF;
    --t2: #A0A3A7;
    --t3: #74777B;
    --t4: #484B51;
    --t5: #070808;
    --t6: #74777B;
    --t7: #A0A3A7;
    --t8: #FC495C;
    --t9: #F9A526;
    --t10: #05C28C;

    --b1: #070808;
    --b2: #131516;
    --b3: #1F2023;
    --b4: #18191B;
    --b5: #FFFFFF;
    --b6: #FAFAFA;
    --b7: #DFE0E2;
    --b8: #1F2023;
    --b9: #131516;

    --button-bg: #FF0420;
    --button-text: #FFFFFF;


    --border1: #1F2023;
    --border2: #18191B;
    --border3: #303236;
    --border4: #FFFFFF;

    --link1: #FF0420;
    --link2: #D90021;
    --link3: #8C001E;

    --layer1: #131516;
    --layer2: #131516;
    --layer3: #1F2023;
    --layer4: #303236;
    --layer5: #484B51;
    --layer6: #131516;
  }
}


.container {
  width: 100%;
  padding: 0 16px;
}

@media (min-width: 768px) {
  .container {
    width: 100%;
    padding: 0 24px;
  }
}

@media (min-width: 1024px) {
  .container {
    width: 100%;
    padding: 0 40px;
  }
}

@media (min-width: 1280px) {
  .container {
    width: 1200px;
    padding: 0px;
    margin: 0 auto;
  }
}