.wrapper {
  margin-top: 96px;
}

.header {
  text-align: center;
}

.headerTitle {
  color: var(--t1);
  font-weight: bold;
}

.headerDescription {
  width: 700px;
  color: var(--t2);
  font-size: 17px;
  font-weight: 400;
  letter-spacing: 1px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.9;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 60px;
  margin-top: 56px;
}

.contentItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 68px;
}

.contentItemImage {
  width: 540px;
  height: 320px;
  border-radius: 20px;
  background-color: var(--layer2);
}

.contentItemDetail {
  flex: 1;
}

.contentItemDetailTitle {
  color: var(--t1);
  font-weight: 700;
  font-size: 36px;
}

.contentItemDetailDescription {
  color: var(--t1);
  font-weight: 400;
  font-size: 19px;
  margin-top: 14px;
  letter-spacing: 1px;
}

.btn {
  margin-top: 18px;
}

.btn span {
  color: var(--t1);
  font-size: 14px;
  font-weight: 500;
}

.btn:hover span{
  color: var(--t1) !important;
}

.btn:hover svg{
  transform: translateX(0) !important;
}

@media (max-width: 1020px) {

  .contentItem.left {
    flex-direction: column;
  }

  .contentItem.right {
    flex-direction: column-reverse;
  }

  .contentItemImage {
    width: 100%;
  }

  .headerDescription {
    width: 100%;
  }

  .leftBlurImage,
  .rightBlurImage {
    display: none;
  }
}

@media (max-width: 768px) {
  .wrapper {
    margin-top: 50px;
  }

  .headerTitle {
    font-size: 26px;
    text-align: left;
  }

  .headerDescription {
    font-size: 16px;
    margin-top: 10px;
    line-height: 1.6;
    text-align: left;
  }

  .content {
    gap: 6px;
    margin-top: 28px;
  }

  .contentItem {
    gap: 25px;
  }

  .contentItemImage {
    height: 200px;
  }

  .contentItemDetailTitle {
    font-size: 16px;
  }

  .contentItemDetailDescription {
    font-size: 14px;
    margin-top: 8px;
  }

  .btn {
    font-size: 13px;
    margin-top: 2px;
  }

  .btn {
    margin-top: 12px;
  }
  
  .btn span {
    font-size: 13px;
  }
  
  .btn svg {
    margin-left: 0;
  }
}