.wrapper {
  margin-top: 96px;
}
.banner {
  position: relative;
  width: 100%;
  border-radius: 16px;
  overflow: hidden;
  height: 240px;
}
.bannerSlogon {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 48px;
  color: white;
}

.bannerAnimation {
  position: absolute;
  width: 1662px;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
}
.card {
  width: 50%;
  height: 300px;
  background-color: #eee;
}
.list {
  margin-top: 48px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.info,
.operation {
  width: calc(50% - 12px);
  &:nth-of-type(3),
  &:nth-of-type(4) {
    margin-top: 24px;
  }
}

.info {
  position: relative;
  display: flex;
  padding: 20px 24px;
  background-color: var(--b2);
  border: 0.58px solid var(--border1);
  border: 0.58px solid #00000014;
  border-radius: 16px;
  cursor: pointer;
  align-items: center;
  &:hover {
    background-color: var(--b3);
    border: 0.5px solid;
    border-image-source: linear-gradient(
      91.47deg,
      rgba(0, 0, 0, 0.2) 0%,
      rgba(0, 0, 0, 0) 100%
    );
    .infoArrow {
      opacity: 1;
    }
  }
}
.infoRight {
  flex-grow: 1;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.infoIconWrapper {
  min-width: max-content;
  border-radius: 50%;
  border: 0.31px solid white;
  margin-right: 24px;
  box-shadow: 0 0 9px #ccc;
  padding: 13px;
  height: max-content;
}
.infoIcon {
  width: 30px;
  min-width: 30px;
  height: 30px;
}

.infoTitle {
  font-weight: 800;
  color: var(--t1);
  font-size: 20px;
}
.infoDescription {
  margin-top: 8px;
  color: var(--t2);
}
.infoArrow {
  position: absolute;
  top: 16px;
  right: 16px;
  opacity: 0.3;
  width: 16px;
}

.operation {
  background-color: var(--b2);
  border: 1px solid var(--border1);
  border: 1px solid #00000014;
  padding: 0 64px 32px;
  border-radius: 16px;
  cursor: pointer;
}
// .operationAnimationWrapper {

// }
.operationAnimation {
  width: 70%;
  min-width: 230px;
}
.operationTitle {
  // margin-top: 32px;
  color: var(--t1);
  font-weight: 800;
  font-size: 32px;
}
.operationDescription {
  margin-top: 12px;
  font-size: 20px;
}
.operationMore {
  display: flex;
  align-items: center;
  margin-top: 24px;
  font-weight: 600;
  font-size: 20px;
}
.comingSoon {
  cursor: not-allowed;
}
.arrowIcon {
  width: 24px;
  transform: rotateZ(-90deg);
}

.videoWrapper {
  display: flex;
  justify-content: center;
  padding: 0 16%;
}

@media (max-width: 1660px) {
  .wrapper {
    margin-top: 64px;
  }
}
@media (max-width: 1440px) {
}
@media (max-width: 1300px) {
  .wrapper {
    margin-top: 56px;
  }
  .infoTitle {
    font-size: 16px;
  }
  .info,
  .operation {
    width: calc(50% - 8px);
    &:nth-of-type(3),
    &:nth-of-type(4) {
      margin-top: 16px;
    }
  }
  .info {
    padding: 16px 18px;
  }
  .infoIconWrapper {
    padding: 10px;
    margin-right: 16px;
  }
  .infoIcon {
    width: 24px;
    min-width: 24px;
    height: 24px;
  }
  .infoArrow {
    width: 13px;
  }
  .operationTitle {
    font-size: 28px;
  }
  .operationDescription {
    font-size: 17px;
  }
  .operation {
    padding: 0 50px 28px;
  }
}

@media (max-width: 1024px) {
  .banner {
    position: relative;
    width: 100%;
    border-radius: 16px;
    overflow: hidden;
    height: 160px;
  }
  .bannerAnimation {
    width: 1124px;
  }
  .bannerSlogon {
    font-size: 36px;
  }
}
@media (max-width: 900px) {
  .operationTitle {
    font-size: 24px;
  }
  .operationDescription {
    font-size: 15px;
  }
  .operation {
    padding: 0 30px 22px;
  }
  .operationMore {
    font-size: 17px;
  }
  .wrapper {
    margin-top: 40px;
  }
}

@media (max-width: 768px) {
  .info {
    width: 100%;
    &:nth-of-type(2),
    &:nth-of-type(3),
    &:nth-of-type(4) {
      margin-top: 24px;
    }
  }
  .operation {
    padding: 0 22px 16px;
  }
  .videoWrapper {
    padding: 0 10%;
  }
}

@media (max-width: 680px) {
  .info {
    width: 100%;
    &:nth-of-type(2),
    &:nth-of-type(3),
    &:nth-of-type(4) {
      margin-top: 24px;
    }
  }
  .operation {
    padding: 0 18px 14px;
    width: calc(50% - 6px);
    &:nth-of-type(3),
    &:nth-of-type(4) {
      margin-top: 12px;
    }
  }
  .operationTitle {
    font-size: 18px;
  }
  .operationDescription {
    font-size: 13px;
  }
  .operationMore {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .info {
    &:nth-of-type(2),
    &:nth-of-type(3),
    &:nth-of-type(4) {
      margin-top: 16px;
    }
  }
  .infoDescription {
    font-size: 12px;
  }

  .infoIconWrapper {
    padding: 8px;
    margin-right: 12px;
  }
  .infoIcon {
    width: 20px;
    min-width: 20px;
    height: 20px;
  }
  .infoArrow {
    width: 10px;
    top: 12px;
    right: 12px;
  }
  .operation {
    width: 100%;
    padding: 0 16px 30px;
    &:nth-of-type(2),
    &:nth-of-type(3),
    &:nth-of-type(4) {
      margin-top: 24px;
    }
  }
  .operationTitle {
    font-size: 20px;
  }
  .operationDescription {
    font-size: 14px;
  }
  .operationMore {
    margin-top: 26px;
    font-size: 20px;
  }
}
