.wrapper {
  margin-top: 140px;
  margin-bottom: 120px;
}

.slogon {
  max-width: 878px;
  color: var(--t1);
  font-size: 40px;
}

.description {
  margin-top: 15px;
  color: var(--t1);
  font-size: 19px;
}

.content {
  margin-top: 26px;
  width: 100%;
}

.githubsWrapper {
  width: 100%;
  overflow: hidden;
}

.gits {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  width: 100%;
}

.git {
  position: relative;
  width: 282px;
  padding: 24px;
  background-color: var(--b2);
  border-radius: 8px;
  display: flex;
  align-items: center;
  font-size: 14px;
  overflow: hidden;
  border: 1px solid transparent;
  transition: all 0.1s ease;
}

.git>h2 {
  color: var(--t1);
  font-weight: 500;
  font-size: 18px;
}

.githubIcon {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

.name {
  color: var(--t5);
  position: absolute;
  top: 0;
  right: 0;
  padding: 2px 8px;
  font-size: 12px;
  height: 24px;
  font-weight: 400;
  border-bottom-left-radius: 8px;
  background-color: var(--t1);
  display: flex;
  align-items: center;
}

.git:hover {
  border-color: var(--t1);
}

@media (max-width: 1660px) {
  .githubsWrapper {
    width: 1224px;
  }
}

@media (max-width: 1300px) {
  .content {
    margin-top: 38px;
  }

  .wrapper {
    margin: 130px auto;
  }
}

@media (max-width: 1024px) {
  .content {
    margin-top: 36px;
  }
}

@media (max-width: 900px) {
  .wrapper {
    margin: 100px auto;
  }

  .gits {
    width: calc(100% + 16px);
    margin-left: -16px;
  }

  .git {
    width: calc(25% - 16px);
    margin: 16px 0 0 16px;
  }
}

@media (max-width: 680px) {
  .wrapper {
    margin: 80px auto;
  }
}

@media (max-width: 480px) {
  .wrapper {
    border-radius: 16px;
  }

  .content {
    margin-top: 24px;
  }

  .githubsWrapper {
    width: 1216px;
  }
}