.wrapper {
  margin-top: 160px;
}

.title {
  color: var(--t1);
  font-size: 40px;
}

.nav {
  display: flex;
  margin-top: 15px;
  user-select: none;
}

.swiper {
  width: 100%;
}


.navItem {
  font-size: 16px;
  color: var(--t3);
  font-weight: 500;
  cursor: pointer;
  width: max-content;
  margin-top: 2px;
  margin-right: 20px;
  transition: all 0.06s ease;
}

.selectedTag {
  color: var(--t1);
  font-size: 24px;
  font-weight: 600;
  margin-top: 0;
}

.seeMore {
  display: flex;
  align-items: center;
  color: var(--t2);
  font-size: 20px;
  padding-left: 16px;
  min-width: max-content;
}

.arrowIcon {
  width: 24px;
  transform: rotateZ(-90deg);
}

.contentSpace {
  margin-top: 15px;
}

.content {
  width: 100%;
  overflow: hidden;
  margin-top: 26px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.card {
  background-color: var(--b2);
  padding: 24px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: calc(25% - 18px);
}

.name {
  font-size: 20px;
  color: var(--t1);
  font-weight: 700;
}

.description {
  color: var(--t2);
  font-size: 14px;
  margin-top: 5px;
}

.tagBtn {
  gap: 5px;
  margin-top: 15px;
  background-color: var(--b3);
  padding: 8px 16px;
  border-radius: 8px;
  display: flex;
  width: max-content;
  align-items: center;
  font-size: 14px;
}

.tagBtn:hover {
  color: var(--t1);
}

.tagBtn span {
  color: var(--t1);
  font-size: 14px;
  font-weight: 500;
}

.tagBtn:hover span {
  color: var(--t1) !important;
}

.tagBtn:hover svg {
  transform: translateX(0) !important;
}

.seeAll {
  background-color: transparent;
  color: var(--t1);
  font-size: 16px;
  font-weight: 500;
  padding-left: 0;
  padding-right: 0;
  margin: 0 auto;
  margin-top: 20px;
}

.seeAll:hover {
  background-color: transparent;
  color: var(--t1);
}

.seeAll:hover span {
  color: var(--t1) !important;
}

.seeAll:hover svg {
  transform: translateX(0) !important;
}

.seeAllIcon {
  width: 14px;
  margin-left: 10px;
}

@media (max-width: 1200px) {
  .wrapper {
    margin-top: 80px;
  }

  .card {
    width: calc(33.33% - 16px);
  }
}

@media (max-width: 900px) {
  .cards {
    gap: 20px;
  }

  .card {
    margin: 0;
    width: 48%;
  }
}

@media (max-width: 768px) {
  .cards {
    flex-direction: column;
  }

  .card {
    width: 100%;
  }

  .navWrapper {
    overflow-x: auto;
    overflow-y: hidden;
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;

    /* IE and Edge */
    &::-webkit-scrollbar {
      display: none;
    }

    scroll-behavior: smooth;
    flex-wrap: nowrap;
    white-space: nowrap;
  }

  .title {
    width: 340px;
    font-size: 24px;
  }
}