.wrapper {
  margin-top: 180px;
  display: flex;
  align-items: self-start;
}

.slogon {
  color: var(--t1);
  max-width: 510px;
  font-size: 40px;
  line-height: 1.3;
  margin-top: 2px;
}

.left {
  position: relative;
  flex: 1;
}

.right {
  width: 600px;
  padding-left: 28px;
}

.codeWrapper {
  position: relative;
  width: 100%;
}

.codePre {
  position: relative;
  height: 100%;
  background-color: var(--b2);
  border-radius: 24px;
  padding: 24px 24px 86px 24px;

  * {
    line-height: 140% !important;
    font-size: 16px;
    white-space: pre-wrap;
    word-break: break-all;
  }
}

.hidden {
  position: absolute !important;
  visibility: hidden !important;
}

@media (max-width: 1270px) {
  .wrapper {
    flex-direction: column-reverse;
    margin-top: 80px;
  }

  .right {
    padding-left: 0px;
  }

  .left {
    width: 100%;
    margin-top: 30px;
  }
}

@media (max-width: 768px) {
  .slogon {
    font-size: 24px;
    width: 340px;
  }

  .codePre {
    padding: 16px;
  }
}