.wrapper {
  margin-top: 180px;
  display: flex;
  align-items: stretch;
}

.left {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.slogon {
  font-size: 40px;
  width: 600px;
  line-height: 1.2;
}

.right {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 22px;
  margin-left: 20px;
}

.card {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  padding: 24px;
  box-sizing: border-box;
  border-radius: 24px;
  background-color: var(--b2);
}

.icon {
  display: block;
  width: 54px;
  height: 54px;
}

.name {
  margin-top: 5px;
  font-size: 26px;
  color: var(--t1);
}

.viewDetails {
  margin-top: 15px;
  font-size: var(--t2);
  font-size: 16px;
}

.viewDetails:hover {
  background-color: transparent;
  color: var(--b5);
}

.viewDetails span {
  color: var(--b5);
  font-size: 16px;
  font-weight: 500;
}

.viewDetails:hover span {
  color: var(--t1) !important;
}

.viewDetails:hover svg {
  transform: translateX(0) !important;
}

@media (max-width: 1270px) {
  .wrapper {
    gap: 22px;
  }

  .slogon {
    width: 100%;
  }

  .left {
    flex: 1;
  }

  .right {
    flex: 1;
    margin-left: 0px;
  }
}


@media (max-width: 885px) {
  .wrapper {
    margin-top: 80px;
    flex-direction: column;
  }

  .slogon {
    margin-bottom: 30px;
  }
}

@media (max-width: 768px) {
  .wrapper {
    gap: 20px;
  }

  .slogon {
    font-size: 24px;
    width: 300px;
    margin-bottom: 18px;
  }

  .left {
    gap: 20px;
  }
}